<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit TV Show List</title>
</head>

<body>
    <h1 style="text-align: center; color: #231F20; font-size: 2.8rem; font-weight: bold;">Edit TV Shows List</h1>
    <div style="width: 100%; display: flex; justify-content: flex-start;">
        <a href="/" style="color: #005040; font-weight: 500; text-decoration: none; font-size: 1.2rem; margin: 0 0 20px 8rem;">Go to Dashboard</a>
    </div>
    <ul>
        {{#each shows}}
        <div class="showsDetailsContainer">
            <div class="posterContainer">
                <img alt="Show Poster" data-poster-path="{{this.posterPath}}">
            </div>
            <div class="detailsTextContainer">
                <a href="/shows/{{_id}}">
                    <h2>{{this.name}}</h2>
                </a>
                <p style="font-size: 0.8em; margin-bottom:5px">{{this.overview}}</p>
                <p class="release-date" style="font-size: 0.8em; font-weight: bold;">Release Date: {{this.releaseDate}}</p>
            </div>
        </div>
        {{/each}}
    </ul>
</body>

<script>
    // Get all poster images
    const posterImages = document.querySelectorAll('.posterContainer img');

    // Iterate through each poster image
    posterImages.forEach(img => {
        const posterPath = img.dataset.posterPath;
        img.src = posterPath;
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
    }

     h1 {
        text-align: center;
    }

    .showsDetailsContainer {

        padding: 10px;
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }

    .posterContainer {
        margin-right: 20px;
    }

    .posterContainer img {
        width: 100px;
        height: auto;
        border: 4px solid #EAC800;
        border-radius: 10px;
    }

    .detailsTextContainer {
        text-align: left;
    }

    .detailsTextContainer h2 {
        margin-bottom: 10px;
        color: #231F20;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .detailsTextContainer p {
        margin: 0;
        color: #231F20;
        text-align: justify;
    }

    .detailsTextContainer p.release-date {
        color: #005040;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: :'black';
    }
</style>

</html>